<% provide(:title, "Home") %>
<div class="center jumbotron">
  <h1>Medpot</h1>
  <p>スキマ時間でお仕事ならメドポット！</p>
  <%= image_tag 'medpot_top.jpeg', alt: 'Medpot top image', class: "top-image" %>

  <%= link_to "新規登録", signup_path, class: "btn btn-lg btn-primary" %>
</div>
