<% provide(:title, @user.name) %>

<div class="row">
  <aside class="col-md-4 user_info">
    <%= render "user_info" %>
  </aside>

  <div class="col-md-8">
    <ol class="recruits">
      <%= render partial: "recruits/recruit", collection: @like_recruits, as: "recruit" %>
      <%= will_paginate @like_recruits, previous_label: " &lt 前へ", next_label: "次へ &gt" %>
    </ol>
  </div>
</div>
