<% provide(:title, @user.name) %>

<div class="container">
  <div class="row">
  <div class="collapse-btn col-md-4">
    <a class="btn btn-primary" data-toggle="collapse" href="#collapseAside" role="button" aria-expanded="false" aria-controls="collapseAside">
      メニュー <i class="fas fa-sort-down fa-lg"></i>
    </a>

    <div class="collapse" id="collapseAside">
      <div class="card card-body">
        <aside class="user_info">
          <%= render "user_info" %>
        </aside>
      </div>
    </div>
  </div>
  
    <div class="col-md-8">
      <h1>お気に入り一覧（<%= @like_recruits.count %>）</h1>
      <ol class="recruits">
        <%= render partial: "recruits/recruit", collection: @like_recruits, as: "recruit" %>
        <%= will_paginate @like_recruits, previous_label: " &lt 前へ", next_label: "次へ &gt" %>
      </ol>
    </div>
  </div>
</div>
