<% provide(:title, @user.name) %>

<div class="row">
  <aside class="col-md-4 user_info">
    <%= render "user_info" %>
  </aside>
  <div class="col-md-8">
    <% if @feed_items.any? %>
      <%= render 'shared/feed' %>
    <% end %>
  </div>
</div>
