<% provide(:title, "Recruit index") %>

<div class="container">
  <%= render "shared/search_form", { search: @search } %>
  <ol class="recruits">
    <%= render partial: "recruit", collection: @recruits %>
    <%= will_paginate @recruits, previous_label: " &lt 前へ", next_label: "次へ &gt" %>
  </ol>
</div>
