@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'font-awesome-sprockets';
@import 'font-awesome';
@import url('https://fonts.googleapis.com/css?family=Noto+Serif+JP');

/* mixins, variables, etc. */
$base-color: #ccc4a1;
$gray-medium-light: #eaeaea;
$hover-transition: all 0.3s ease-in-out;

/* universal */
html {
  height: 100%;
}

body {
  height: 100%;
  padding-top: 60px;
  font-family: 'Noto Sans JP', sans-serif;
}

.wrapper {
  width: 100%;
  height: auto !important;
  min-height: 100%;
  position: relative;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.container {
  padding-bottom: 150px;
  margin-top: 40px;
}

.center {
  text-align: center;
  h1 {
    margin: 0;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin: 40px;
  text-align: center;
}

// h2 {
//   font-size: 1.2em;
//   letter-spacing: -1px;
//   margin-bottom: 30px;
//   text-align: center;
//   font-weight: normal;
//   color: $gray-light;
// }

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

a {
  text-decoration: none;
}

/* home */
.jumbotron {
  background-image: url("/images/medpot_top.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left bottom 30%;
  width: 100vw;
  height: 100vh;
  position: relative;
  margin: 0;
  .img-text{
    position: absolute;
    top: 530px;
    right: 50px;
    font-size: 40px;
    color: #c0c0c0;
    padding-left: 5px;
    .img-text-1 {
      letter-spacing: 2px;
    }
    .img-text-2 {
      letter-spacing: 3px;
      margin-left: -3px;
    }
    .img-text-3 {
      letter-spacing: 5px;
    }
    span {
      color: $base-color;
    }
  }
}

.img-button {
  position: absolute;
  top: 565px;
  right: 300px;
  font-size: 16px;
  letter-spacing: 10px;
  font-family: 'Noto Sans JP', sans-serif;
  .img-button-1 {
    margin-bottom: 20px;
    border: 1px solid $base-color;
    border-radius: 50px;
    padding: 7px 30px 7px 40px;
    background: $base-color;
    margin-bottom: 20px;
    transition: $hover-transition;
    &:hover {
      background: white;
    }
  }
  .img-button-2 {
    border: 1px solid  $base-color;
    border-radius: 50px;
    padding: 7px 30px 7px 40px;
    background:  $base-color;
    transition: $hover-transition;
    &:hover {
      background: white;
    }
  }
  a {
    text-decoration: none;
    color: white;
    &:hover {
      color: $base-color;
    }
  }
}

/* header */

header {
  height: 60px;
  padding: 0 50px;
  margin: 0 !important;
  background: $base-color !important;
  border: none !important;
}

#logo {
  float: left;
  color: white;
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-right: 10px;
  padding-top: 12px;
  font-weight: bold;
  transition: $hover-transition;
  &:hover {
    text-decoration: none;
  }
}

.header-list {
  ul {
    padding-top: 6px;
    a {
      color: $gray-light;
      transition: $hover-transition;
      &:hover {
        color: white;
        text-decoration: none;
      }
    }
  }
}

.dropdown-menu {
  background: $base-color;
  a {
    &:hover {
      color: $gray-light !important;
    }
  }
}

/* footer */

footer {
  width: 100%;
  height: 60px;
  background: $base-color;
  padding: 20px 40px;
  position: absolute;
  bottom: 0;
  small {
    float: left;
  }
}

.footer-text {
  float: left;
  a {
    color: $gray-light;
    transition: $hover-transition;
    &:hover {
      text-decoration: none;
      color: white;
    }
  }
}

.footer-link {
  ul {
    float: right;
    list-style: none;
    margin: 0 !important;
    li {
      float: left;
      margin-left: 20px;
      color: $gray-light;
      a {
        color: $gray-light;
        transition: $hover-transition;
        &:hover {
          text-decoration: none;
          color: white;
        }
      }
    }
  }
}

/* Form Layout */
#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.notice {
  background: #c9dfff;
  padding: 10px 0px 10px;
  margin: 0 auto;
  text-align: center;
  h2, li {
    color: $gray-light;
  }
}

.alert {
  background: #ff82827a;
  padding: 10px 0px 10px;
  margin: 0 auto 10px;
  text-align: center;
  h2, li {
    color: $gray-light;
  }
}

.form-wrapper {
  color: $gray-light;
  font: 400 87.5%/1.5em 'Open Sans', sans-serif;
}

.form-container {
  background: #fafafa;
  margin: 3em auto;
  padding: 0 2em;
  max-width: 370px;
}

.form-title {
  padding: 1em 0;
}

form {
  padding: 0 1.5em;
}

.form-item {
  margin-bottom: 1em;
  width: 100%;
  input {
    background: #fafafa;
    border: none;
    border-bottom: 2px solid #e9e9e9;
    color: $gray-light;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    height: 50px;
    transition: border-color 0.3s;
    width: 100%;
    &:focus {
      border-bottom: 2px solid #c0c0c0;
      outline: none;
    }
  }
}

/* submit button */

.submit-panel {
  margin: 20px auto;
  width: 90%;
}

.submit-button {
  background: #e77784;
  box-shadow: 0 4px 0 #e91f37;
  position: relative;
  border: none;
  color: #fff;
  height: 40px;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2em;
  text-align: center;
  letter-spacing: 0.05em;
  transition: $hover-transition;
  width: 100%;
  border-radius: 5px;
  outline: none
}

.submit-button:active {
  top: 2px;
	box-shadow: 0 2px 0 #e91f37;
}

.submit-button:hover {
  background: #e78c96;
}

.or {
  text-align: center;
  color: $gray-light;
}

/* twitter button */

.twitter-panel {
  margin: 20px auto;
  width: 90%;
}

.twitter-button {
  background-color: #008DDE;
  box-shadow: 0 4px 0 #0078BD;
  display: block;
  position: relative;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  height: 40px;
  font-size: 14px;
  text-align: center;
  transition: $hover-transition;
  border-radius: 5px;
  padding: 14px 60px;
}

.twitter-button:active {
  top: 2px;
  box-shadow: 0 2px 0 #0078BD;
  text-decoration: none;
}
.twitter-button:hover {
  background-color: #1397D8;
  color: #fff;
  text-decoration: none;
}

/* guest button */

.guest-panel {
  margin: 20px auto;
  width: 90%;
}

.guest-button {
  background-color: #78c47c;
  box-shadow: 0 4px 0 #02b40b;
  display: block;
  position: relative;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  height: 40px;
  font-size: 13px;
  font-weight: bold;
  text-align: center;
  transition: $hover-transition;
  border-radius: 5px;
  padding: 14px 80px;
}

.guest-button:active {
  top: 2px;
  box-shadow: 0 2px 0 #02b40b;
  text-decoration: none;
}
.guest-button:hover {
  background-color: #86db9b;
  color: #fff;
  text-decoration: none;
}

/* form footer */

.form-footer {
  font-size: 1em;
  padding-top: 2em;
  text-align: center;
  div {
    margin:  5px 0;
  }
}

.form-footer a {
  color: #8c8c8c;
  text-decoration: none;
  transition: border-color 0.3s;
}

.form-footer a:hover {
  border-bottom: 1px dotted #8c8c8c;
}

.signup-link {
  margin:  5px 0;
}

.forgot-link {
  margin:  5px 0;
}

.activate-link {
  margin:  5px 0;
}
.nlock-link {
  margin:  5px 0;
}

/* sidebar */

aside {
  section.user_name {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 10px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}

/* users show */

.user_info {
  border: $gray-medium-light solid 2px ;
  border-radius: 5px;
  margin-top: 40px;
  p {
    margin-left: 20px;
    color: #adadad;
  }
}

.user-icon {
  float: left;
  p:first-child {
    font-size: 2.4em;
  }
  img {
    margin: 0;
  }
}

.user-name {
  color: black !important; 
  font-weight: 500;
}

.user-link {
  float: left;
  padding: 0;
  margin: 70px 0 0 30px;
  li {
    list-style: none;
    margin-bottom: 7px;
    &:hover {
      box-shadow: 0px -6px 5px -3px rgba(247,198,104,0.8) inset,0px 7px 5px -8px #f7c668;
      transition: box-shadow 0.3s ease-in-out;
    }
    i {
      color: $base-color;
    }
    a {
      text-decoration: none;
      color: $gray-light;
      font-weight: bold
    }
  }
}

.user-profile {
  div {
  color: black;
  font-size: 15px;
  font-weight: 500;
  }
  p {
    margin-bottom: 30px;
  }
}

/* users edit */

.user-edit-table {
  table-layout: fixed;
  width: 100%;
  border:1px solid #ddd;
  border-collapse: collapse;
  margin-bottom: 40px;
  th {
    width: 30%;
    background:#fff0f9;
    padding:10px;
    border:1px solid $gray-light;
  }
  td {
    width: 70%;
    padding:10px 20px;
    border:1px solid $gray-light;
  }
  p {
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    margin: 5px 0;
  }
}

.last-name-layout {
  label {
    &:nth-of-type(1) {
      margin-right: 15px;
    }
    &:nth-of-type(2) {
      margin: 0 22px 5px 7px;
    }
  }
  input {
    &:nth-of-type(1) {
      margin-bottom: 10px;
    }
  }
}

.first-name-layout {
  label {
    &:nth-of-type(1) {
      margin-right: 15px;
    }
    &:nth-of-type(2) {
      margin: 0 22px 5px 7px;
    }
  }
  input {
    &:nth-of-type(odd) {
      margin-bottom: 10px;
    }
  }
}

.col-sm-9 {
  padding: initial;
}

.update-panel {
  text-align: center;
}

.update-button {
  background: #e77784;
  box-shadow: 0 4px 0 #e91f37;
  position: relative;
  border: none;
  color: #fff;
  height: 40px;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2em;
  text-align: center;
  letter-spacing: 0.05em;
  transition: $hover-transition;
  width: 30%;
  border-radius: 5px;
  outline: none
}

.update-button:active {
  top: 2px;
	box-shadow: 0 2px 0 #e91f37;
}

.update-button:hover {
  background: #e78c96;
}

.back {
  padding: 2em 1.5em;
}

/* recruit create */
.recruit-table {
  table-layout: fixed;
  width: 100%;
  border: 1px solid #ddd;
  border-collapse: collapse;
  margin-bottom: 50px;
  th {
    width: 30%;
    background:#d2eef7;
    padding:10px;
    border:1px solid $gray-light;
  }
  td {
    width: 70%;
    padding:10px 20px;
    border:1px solid $gray-light;
  }
  p {
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    margin: 5px 0;
  }
}

.recruit-panel {
  text-align: center;
}

.recruit-button {
  background: #e77784;
  box-shadow: 0 4px 0 #e91f37;
  position: relative;
  border: none;
  color: #fff;
  height: 40px;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2em;
  text-align: center;
  letter-spacing: 0.05em;
  transition: $hover-transition;
  width: 30%;
  border-radius: 5px;
  outline: none
}

/* recruit show */
.recruit-button:active {
  top: 2px;
	box-shadow: 0 2px 0 #e91f37;
}

.recruit-button:hover {
  background: #e78c96;
}

.recruit-show-table {
  table-layout: fixed;
  width: 100%;
  border:1px solid #ddd;
  border-collapse: collapse;
  margin-bottom: 50px;
  th {
    width: 30%;
    background:lightblue;
    padding:10px;
    border:1px solid $gray-light;
  }
  td {
    width: 70%;
    padding:10px 20px;
    border:1px solid $gray-light;
  }
  p {
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    margin: 5px 0;
  }
}

#reviews_area {
  margin-bottom: 30px;
  h2 {
    margin-bottom: 30px;
  }
}

.review-name {
  margin-bottom: 5px;
}

.review-content {
  margin: 20px 0;
}

#star {
  margin-bottom: 20px;
}

/* recruit index */
.recruits {
  list-style: none;
  text-align: -webkit-center;
  padding: 0;
  margin-bottom: 50px;
  li {
    width: 640px;
    height: 240px;
    border: 1px solid white;
    border-radius: 5px;
    box-shadow: 7px 7px 7px -7px;
    margin-bottom: 50px;
    &:hover {
      opacity: 0.7;
    }
    .index-img {
      float: left;
      width: 50%;
      height: 100%;
      img {
        width: 100%;
        height: 100%;
        border-radius: 4px;
      }
    }
    .index-content {
      float: right;
      width: 50%;
      height: 100%;
      text-align: left;
      padding: 20px;
      a {
        text-decoration: none;
      }
    }
    .recruit-title {
      font-size: 15px;
      color: #000000;
      font-weight: 600;
      margin-bottom: 10px;
    }
    .recruit-location {
      color: $gray-light;
      margin-bottom: 5px;
    }
    .recruit-co-name {
      color: $gray-light;
      margin-bottom: 5px;
    }
    .recruit-pay {
      color: $gray-light;
      margin-bottom: 10px;
    }
    .recruit-show-link {
      text-align: right;
      margin: 0 15px 10px 0;
    }
    .trash-btn {
      margin-left: 10px;
    }
  }
}

/* likes */

.likes-btn {
  display: inline-block;
  margin-top: 5px;
}

.unlike-btn {
  width: 25px;
  height: 30px;
  font-size: 25px;
  color: #e54747;
  margin-left: 40px;
  text-decoration: none;
  }

.like-btn {
  width: 25px;
  height: 30px;
  font-size: 25px;
  color: $gray-light; 
  margin-left: 40px;
  text-decoration: none;
  }

  /* search */

.search_container{
  text-align: center;
  .search_input{
    border: none;
    border-radius: 50px;
    background: #f1f1f1;
    height: 35px;
    width: 50%;
    padding: 10px 20px;
    margin-top: 40px;
    outline: none
  }
  .search_button{
    background-color: transparent;
    cursor: pointer;
    border-style: none;
    border-radius: 0px 4px 4px 0px;
    color: #999999;
    outline: none
  }
  .prefecture_container {
    text-align: center;
    margin-bottom: 40px;
  }
}

/* google API */
#map {
  height: 300px;
  width: 80%;
  margin: 20px 0;
}
