<p>Hello <%= @resource.email %>!</p>
<p>こちらはMedpotです。</p>
<p>パスワードの変更を継続する場合は下記リンクよりお進みください。</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>このメールに心当たりがなければ無視しても構いません。</p>
<p>上記のリンクにアクセスして新しいパスワードを作成するまでパスワードは変更されません。</p>
